
<header>
  <div class="container">
    <a routerLink="/" class="logo">TC ☺ Food Corner</a>
    <nav>
      <ul>
        
        <li class="menu-container">
          <a routerLink="/dashboard">Login</a>
          <div class="menu">
            <a routerLink="login">coustomer</a>
            <a routerLink="marchant">marchant</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span>{{cartQuantity}}</span>
          </a>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span>{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
